<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
    <title>Admin Dashboard</title>
    <script>
        function deleteAgent(event) {
            var agentUsername = event.target.parentElement.parentElement.childNodes[1].textContent;
            $.post( "/admin/deleteagent", { 'agentUsername': agentUsername }, function() { window.location = "/admin"; } );
            console.log("Deleting " + agentUsername );

        }

    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Call Center</a>
        </div>
    </div>
</nav>
<div class="container">

    <h1>Administration Dashboard</h1>
    {% if average_duration %}
    <p>Average duration of calls is {{ average_duration }}</p>
    {% else %}
    <p>There are no call stats available</p>
    {% endif %}
    <h2 class="sub-header">SIP usernames currently being used by the Call Center</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>SIP Username</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for sip in sips %}
        <tr>
            <td>{{ sip }}</td>
            <td>
                <button class="btn btn-danger" onclick="deleteAgent(event)">Delete</button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form action="/admin" method="POST" role="form" class="form-horizontal">
                    <td>
                            <input type="text" id="sipusername" class="form-control"
                                   placeholder="Enter new sip username" name="sipusername">
                    </td>
                    <td>
                            <button type="submit" class="btn btn-primary">Create</button>
                    </td>
            </form>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>